.anyform-tree {

  $vertical-spacing: 5px !default;
  $target-overlay: 10px !default;
  $color-highlight: lighten(#079dc3, 6) !default;

  padding: $vertical-spacing;
  padding-bottom: 0;

  .row {
    margin-bottom: $vertical-spacing;
    position: relative;
  }

  .group-container {
    margin-bottom: $vertical-spacing;
  }

  .node, .group-container {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  // Single Nodes In Row

  .target-anchor {
    position: relative;

    .target {
      height: 0;
      position: absolute;
      width: 100%;

      &.visible {
        height: 2 * $target-overlay + $vertical-spacing;
        top: -($target-overlay + $vertical-spacing);

        // Important that the targets become "slowly" visible to not abort the drag
        -webkit-transition: height 500ms;
        -moz-transition: height 500ms;
        -ms-transition: height 500ms;
        -o-transition: height 500ms;
        transition: height 500ms;
      }

      .target-preview {
        position: absolute;
        background-color: $color-highlight;
        height: $vertical-spacing;
        left: 0;
        right: 0;
        top: $target-overlay;
      }
    }
  }

  // Multiple Nodes In Row

  .node-multi-container {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 (-$vertical-spacing);

    .node {
      flex-grow: 1;
    }

    .target-anchor {
      width: $vertical-spacing;
      min-width: $vertical-spacing;
      //margin-left: -$vertical-spacing;

      .target {
        z-index: 200 !important;
        width: 2 * $target-overlay + $vertical-spacing;

        &.visible {
          height: auto;
          top: 0;
          left: -$target-overlay;
          bottom: 0;
        }

        .target-preview {
          width: $vertical-spacing;
          left: $target-overlay;
          top: 0;
          bottom: 0;
          right: auto;
          height: auto;
        }
      }

      &:first-child, &:last-child {
        .target {
          width: $target-overlay + $vertical-spacing;
        }
      }
    }
  }
}
